server:
  port: 8080
spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP-SERVERS:kafka:9092}
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.value.default.type: org.example.notificationservice.api.dto.MessageDto

  mail:
    host: smtp.yandex.ru
    port: 465
    protocol: smtp
    username: ${MAIL_USERNAME:BlackSon.1@yandex.ru}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            trust: smtp.yandex.ru
  cloud:
    consul:
      host: consul
      port: 8500
      discovery:
        enabled: true
        register: true